[submodule "public"]
	path = public
	url = https://github.com/suchinton/suchinton.github.io
[submodule "themes/digitalgarden"]
	path = themes/digitalgarden
	url = https://github.com/apvarun/digital-garden-hugo-theme.git
[submodule "themes/blowfish"]
	path = themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
	branch = main
[submodule "public/"]
	url = https://github.com/suchinton/suchinton.github.io
